.highlight-text{color: orange;}
 
body{font-family:'poppins',sans-serif;}
h1{font-size: 100px;}
.half-width{width: 40%;float: left;
margin-left: 4%; margin-bottom: 6%;
padding-left: 6%;
}.b{background-color:rgb(242, 116, 13);color: white;font-size: 30px;text-align: center;border-color: chocolate;border-radius: 10px;padding: 0.5% 3% 0.5% 3%;}
.half-width img{width: 100%;}
body{background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8obMnLjiiTI7_zuFZgu1SDbSUzAN72_5rcg&usqp=CAU");background-size: 110px;}
body{background-repeat: no-repeat;}
body{margin: 0%;}

.part2-halfwidth{width: 50%;float: left;}
h2{font-size: 80px;}
.part2-halfwidth img{width:100%;}
h3{font-size: 40px;}
p{font-size: 20px;}
.button{font-size: 30px;border: none;background-color: rgb(219, 192, 17);border-radius: 10px;text-align: center;color: white;padding-left: 3%;padding-right: 3%;padding-bottom: 0.5%;padding-top: 0.5%;}
.part3-halfwidth{width: 50%;float: left;margin: 1%;}
p{font-size: 30px;}
.p{width: 100%;float: left;text-align: center;color: rgb(199, 121, 204);}
